.movie_content{
    /* border: 1px solid yellow; */
    margin-bottom: 5rem;
    /* height: 500px; */
    display: grid;
    gap: 10px;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);

}
.movie{
    /* border: 1px solid red; */
    height: 380px;
    width: 240px;
    margin-top: 10px;
}
/* .movie:hover{
     margin-top: -10px; 
} */
.movieImg{
    /* border: 1px solid red; */
    border-radius: 5px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
    transition: margin-top .3s;
}
.movieImg:hover{
    /* transform: scale(1.1); */
    /* margin-top: -10px;  */
    /* margin-bottom: 5px; */
}
.movieImg > img {
    width: 100%;
    height: 100%;
}
.movie> p{
    /* margin-top: 5px; */
    font-size: 15px;
    font-weight: 700;
}
